html{
    box-sizing: border-box;
}

body{
    background-color: #81a1e6;
}
header{
    background-color: rgb(198, 13, 13);
}
footer{
    border-color: blue;
}

section{
    background-color: yellow;
}